alembic~=1.13.2
annotated-types
APIFlask
apispec
attrs
blinker
click
colorama
flasgger
Flask~=3.0.3
Flask-HTTPAuth
Flask-JWT-Extended
flask-marshmallow
flask-openapi3
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
MarkupSafe
marshmallow
mistune
packaging
pip
pydantic~=2.8.2
pydantic_core
pydantic-settings
PyJWT
PyMySQL~=1.1.1
python-dotenv
PyYAML
referencing
rpds-py
setuptools
six
SQLAlchemy~=2.0.32
typing_extensions
webargs
Werkzeug
WTForms~=3.1.2
flask-redis

redis~=5.0.8
cryptography

celery~=5.4.0
eventlet